



<div class="top-chart">
    <div class="top-chart-header">
        <h6>TOP CHART</h6>
    </div>
        <div class="top-chart-body">
        <div class="top-chart-body-title">
            <div class="title-name">
                Name
            </div>
            <div class="title-xp">
                Total XP
            </div>
           
        </div>
        <hr>
        <ul class="top-chart-list">
            <li class="top-chart-items">
                <img src="../../../assets/img/achievement-53-124196.png">
                <div class="top-chart-text">
                    <div class="list-name">Tara<br> Yarchak</div>
                    <div class="list-xp">120 xp</div>
                </div>
                    <mat-progress-bar class="bar" value="60"></mat-progress-bar>
            </li>
            <li class="top-chart-items">
                <img src="../../../assets/img/achievement-53-124196.png">
                <div class="top-chart-text">
                    <div class="list-name">Tara<br> Yarchak</div>
                    <div class="list-xp">120 xp</div>
                </div>
                    <mat-progress-bar class="bar" value="60"></mat-progress-bar>
            </li>
            <li class="top-chart-items">
                <img src="../../../assets/img/achievements-2-386752.png">
                <div class="top-chart-text">
                    <div class="list-name">Tara<br> Yarchak</div>
                    <div class="list-xp">120 xp</div>
                </div>
                    <mat-progress-bar class="bar" value="60"></mat-progress-bar>
            </li>

        </ul> 
    </div>
</div>