<div class="challenges">
    <div class="challenges-header">
        <h6>CHALLENGES</h6>
        <button>Request</button>
    </div>
    <div class="challenges-body">
        <cdk-virtual-scroll-viewport style="height: 200px" itemSize="100" class="example-viewport">
            <div class="box">
                <div class="line"></div>
                <div class="circle"></div>
                <div class="challenges-status">
                    <div class="challenges-available">
                        <div>Available</div>
                    </div>
                    <div class="challenges-status-description">
                        <img src="../../../assets/img/Tour-de-France-James-Mitchell.jpeg" alt="">
                        <div class="challenges-status-type">57K bike</div>
                        <div class="challenges-status-complete">
                            <div class="challenges-status-percent">93% of 57K complete</div>
                            <div class="challenges-status-remaining">05:20:00 Remaining</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="line"></div>
                <div class="circle"></div>
                <div class="challenges-status">
                    <div class="challenges-ended">
                        <div>Ended</div>
                    </div>
                    <div class="challenges-status-description">
                        <img src="../../../assets/img/Tour-de-France-James-Mitchell.jpeg" alt="">
                    </div>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    </div>