<div class="personal-achievements">
    <div class="personal-achievements-header">
        <h6>PERSONAL ACHIEVEMENTS</h6>
        <button>Request</button>
    </div>
    <div class="personal-achieve-body">
        <ul class="personal-achieve-list">
            <li class="personal-achieve-items">
                <img src="../../../assets/img/achievement-53-124196.png">
                <div class="personal-achieve-text">
                    <span>Exoft turbo power</span>
                    <span class="personal-achieve-mins">0 mins ago</span>
                </div>
                <div class="personal-achieve-gold-xp">
                    <div class="personal-achieve-gold"></div>
                    <span class="personal-achieve-xp">+15xp</span>
                </div>
            </li>
            <li class="personal-achieve-items">
                <img src="../../../assets/img/achievement-53-124196.png">
                <div class="personal-achieve-text">
                    <span>Exoft turbo power</span>
                    <span class="personal-achieve-mins">0 mins ago</span>
                </div>
                <div class="personal-achieve-gold-xp">
                    <div class="personal-achieve-gold"></div>
                    <span class="personal-achieve-xp">+15xp</span>
                </div>
            </li>
            <li class="personal-achieve-items">
                <img src="../../../assets/img/achievements-2-386752.png">
                <div class="personal-achieve-text">
                    <span>Exoft skylark power</span>
                    <span class="personal-achieve-mins">0 mins ago</span>
                </div>
                <div class="personal-achieve-gold-xp">
                    <div class="personal-achieve-gold"></div>
                    <span class="personal-achieve-xp">+15xp</span>
                </div>
            </li>
            <li class="personal-achieve-items">
                <img src="../../../assets/img/achievement-icon-png-22.jpg.png">
                <div class="personal-achieve-text">
                    <span>Exoft corporate power</span>
                    <span class="personal-achieve-mins">0 mins ago</span>
                </div>
                <div class="personal-achieve-gold-xp">
                    <div class="personal-achieve-gold"></div>
                    <span class="personal-achieve-xp">+15xp</span>
                </div>
            </li>

        </ul>
    </div>
</div>