<div class="dashboard-container">
    <mat-grid-list cols="5" rowHeight="120px" gutterSize="12px">
        <mat-grid-tile colspan="4" class="dashboard-header">
            <div class="dashboard-header">
                <h1>Good morning, {{user}}!</h1>
                <h4>Take a look at your activities, standing, friends and more.</h4>
            </div>
        </mat-grid-tile>
        <mat-grid-tile rowspan='5'>Title 1</mat-grid-tile>
        <mat-grid-tile rowspan="2">Title 1</mat-grid-tile>
        <mat-grid-tile rowspan="2">Title 1</mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="2">Title 1</mat-grid-tile>
        <mat-grid-tile rowspan="2">Title 1</mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="2">Title 1</mat-grid-tile>
    </mat-grid-list>
</div>