<div class="dashboard-container">
    <mat-grid-list cols="5" rowHeight="120px" gutterSize="10px">
        <mat-grid-tile colspan="4" class="dashboard-header">
            <div class="dashboard-header">
                <h1>Good morning, {{user}}!</h1>
                <h4>Take a look at your activities, standing, friends and more.</h4>
            </div>
        </mat-grid-tile>
        <mat-grid-tile rowspan='5'>
            <app-exof-achevements class="exof-achevements"></app-exof-achevements>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <personal-achieve></personal-achieve>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <thank-you></thank-you>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="2">
            <app-top-chart class="top-chart"></app-top-chart>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <badges-block></badges-block>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="2">
            <app-challenges class="challenges"></app-challenges>
        </mat-grid-tile>
    </mat-grid-list>
</div>